In [2]:
import numpy as np, pandas as pd,matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score , accuracy_score
import xgboost as xg

In [26]:
df = pd.read_csv("/mnt/mydata/python_projects/python_projects/iris/data/Iris.csv")
df = df.drop_duplicates()
df.dropna()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [27]:
df['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [28]:
species = {'Iris-setosa':0,'Iris-versicolor':1,'Iris-virginica':2}
df['Species'] = df['Species'].map(species)

In [29]:
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [45]:
X = pd.DataFrame({'SepalLengthCm':df['SepalLengthCm'],'SepalWidthCm':df['SepalWidthCm'],
                  'PetalLengthCm': df['PetalLengthCm'],'PetalWidthCm':df['PetalWidthCm']})
Y = pd.DataFrame({'Species':df['Species']})
x_train,x_test,y_train,y_test = train_test_split(X,Y,random_state=42,test_size=0.2)

model = xg.XGBClassifier(
    n_estimators=100,
    learning_rate=0.5,
    max_depth=10,
    tree_method='exact',
    objective='multi:softmax',
    random_state=42,
    num_class=3
)

# Fix: Convert y_train to 1D array
model.fit(x_train, y_train.values.ravel(), verbose=True)

# Fix: For prediction comparison
y_predict = model.predict(x_test)
result = pd.DataFrame({'Actual':y_test.values.ravel(),'Predict':y_predict})
result

    Actual  Predict
0        1        1
1        0        0
2        2        2
3        1        1
4        1        1
5        0        0
6        1        1
7        2        2
8        1        1
9        1        1
10       2        2
11       0        0
12       0        0
13       0        0
14       0        0
15       1        1
16       2        2
17       1        1
18       1        1
19       2        2
20       0        0
21       2        2
22       0        0
23       2        2
24       2        2
25       2        2
26       2        2
27       2        2
28       0        0
29       0        0

In [46]:
score = f1_score(y_test, y_predict,average='weighted') # <--- THIS IS THE POTENTIAL ISSUE
accuracy = accuracy_score(y_test, y_predict)
print(f'f1 score {score}\naccuracy score:{accuracy:.4f}')

f1 score 1.0
accuracy score:1.0000